.home{
    height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
  overflow: hidden; /* Prevents scrollbars */
}
.hero {
    background: #000; /* Adjust based on your design */
    padding: 60px 0px; /* Adjust padding as needed */
    margin-top: 50px; 
    z-index:1;
    position: relative
}

/* Adjust based on the height of your navbar */
.navbar {
    height: 80px; 
}

.profile-image {
    border-radius: 50%;
    width: 150px; /* Adjust size as needed */
}

.animated-button {
    animation: pulse 2s infinite; /* Simple pulse animation for button */
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

/* Specific title styles */
h2.display-5 {
    color: #007bff; /* Adjust color as needed */
    font-size: 2rem; /* Adjust size if needed */
    margin-bottom: 1rem; /* Adjust spacing if needed */
}

/* Animation for the title */
.animated-title {
    animation: fadeInUp 2s ease-in-out; /* Add animation */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.our_div{
    margin-top: 100px;
}
