body {
    background-color: #ffffff; 
    color:#7d2535;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

body.dark-mode {
    background-color: rgb(79, 77, 77);
    color: #ffffff; 
}

.navbar {
position: relative;
  z-index: 1000; 
  transition: margin-bottom 0.3s ease;
}

.navbar.bg-light {
    background-color: #ffffff;
}
.navbar-nav .nav-link {
    color: inherit; 
    transition: color 0.3s ease, transform 0.3s ease; 
}

.navbar-nav .nav-link:hover {
    color: #007bff; 
    transform: scale(1.05); 
    cursor: pointer;
}

.navbar-logo {
    width: auto; 
    height: 60px; 
    transition: transform 0.3s ease; 
}

.navbar-brand:hover .navbar-logo {
    transform: scale(1.1); 
}

.btn-close {
    border: none;
    background-color: #000; 
    font-size: 1.5rem;  
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-close:hover {
    background-color: #333; /* Darker background on hover */
}

/* Ensure the close button is visible only on small screens */
@media (min-width: 992px) {
    .btn-close {
        display: none;
    }
}

@media (max-width: 992px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    visibility: hidden; /* Hidden by default */
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
    z-index: 1000; /* Ensure it’s above other content */
  }
  
  .overlay.show {
    visibility: visible;
    opacity: 1;
  }
