.social-links {
    margin-top: 20px;
  }
  .about-page-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    border-bottom: 5px solid #0072ff;
  }

  .about-social-icon {
    width: 100%;
    max-width: 40px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
    margin-right: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .about-social-icon:hover {
    transform: scale(1.2);
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.6);
  }
  
  .about-section {
    padding: 100px 0;
    background-color: #f4f4f9;
  }
  
  .about-pic {
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
  }
  
  .about-title {
    font-size: 2.5rem;
    color: #7d2535;
    font-weight: bold;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
  }
  
  .about-text p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #7d2535;
  }
  
  /* Floating animation for image */
  @keyframes floatPic {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
  }
  
  .white-background {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .certifications {
    color: black !important;
  }
  
  /* Responsive text for smaller screens */
  @media screen and (max-width: 768px) {
    .about-title {
      font-size: 2rem;
    }
    .about-text p {
      font-size: 1rem;
    }
  }
  .about-points{
    color:black !important;
  }