.research-page {
  padding: 50px;
  min-height: 100vh;
  }
  
  .research-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #2c3e50;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    border-bottom: 5px solid #0072ff;
  }
  
  .research-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .research-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: calc(100% - 5px);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    transform: translateY(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .research-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
  
  .research-image {
    width: 85%;
    height: 200px;
    object-fit: cover;
  }
  
  .research-info {
    padding: 20px;
    text-align: center;
    overflow-y: auto;
    flex-grow: 1;
  }
  
  .research-info h2 {
    font-size: 1.5rem;
    color:#7d2535;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  .research-info p {
    font-size: 1rem;
    color: black;
    margin-bottom: 10px;
  }
  
  .skills-used h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .skills-used ul {
    padding-left: 20px;
  }
  
  .skills-used li {
    list-style: circle;
  }
  
  .research-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0072ff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .research-link:hover {
    background-color: #0056cc;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  